body {
    background-color: #2A2C2F;
}

.lang {
    position: absolute;
    top: 10px;
    right: 40px;
    text-decoration: underline;
}

.lang1 {
    position: absolute;
    top: 10px;
    right: 10px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

h3 {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 72px;
}

li {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

.photo {
    width: 286.48px;
    height: 213px;
    display: inline;
    margin: 5px;
}

.place {
    width: 460px;
    height: 460px;
    display: inline;
}

.placetext {
    display: inline;
}